/* root variables */
:root {
    --color-primary: #E6AF2E;
    --color-success: rgb(61, 151, 61);
    --color-warning: rgb(230, 230, 25);
    --color-danger: rgb(224, 64, 24);
    --color-danger-variant: rgba(247, 20, 20, 0.781);
    --color-white: white;
    --color-light: rgb(209, 204, 204);
    --color-black: black;
    --color-bg: #191716;
    --color-bg1: #E6AF2E;
    --color-bg2: #E0E2DB;
    --color-bg3: #5AA9E6;
    --color-bg4: #BEB7A4;
    --color-bg5: #FF6392;
    --color-bg6: #F49D37;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}



/* achievements */


.about__achievements {
    margin-top: 3rem;

}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;

}

.about__achievements-right {
    color: var(--color-white);
    text-align: center;
    margin-top: 9.5rem;
}

.about__achievements-right p {
    margin: 1.6rem 0 2.5rem;
}

.about__achievements-left {
    margin-top: 8rem;
}

.about__achievements-left img {
    margin-top: 5rem;
}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievements__card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;

}

.achievements__card:hover {
    background: var(--color-bg);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
}

.achievements__icon {
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievements__card:nth-child(2) .achievements__icon {
    background: var(--color-bg3);
}

.achievements__card:nth-child(3) .achievements__icon {
    background: var(--color-bg5);
}

.achievements__card p {
    margin-top: 1rem;
}

/* Team styles */

.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-bg1);

    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;

}

.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);

}

.team__member-image img {
    filter: saturate(0);
}

.team__member:hover img {
    filter: saturate(1);

}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;


}

.team__member-info p {
    color: var(--color-black);
}

.team__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team__member:hover .team__member-socials {
    right: 0;
}

.team__member-socials a {
    padding: 1rem;

}

/* footer */
.footer__copyrights {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem;
    border-top: 1px solid var(--color-bg5);
}

/* media queries */
/* tablets */

@media screen and (max-width: 1024px) {
    .about__achievements {
        margin-top: 2rem;

    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;

    }
}

/* media queries for mobile phones */

@media screen and (max-width: 600px) {
    .achievements__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;

    }
}

.empty {
    padding: 1rem;
}